node-red/data/flows_5946205e8c2d.json
[{"id":"a51660e1.13495","type":"tab","label":"Flow 1"},{"id":"da8fc4dd.311658","type":"tab","label":"Flow 1"},{"id":"b7a9063d.15efe8","type":"tab","label":"Flow 1"},{"id":"15d5bec7.1ea101","type":"tab","label":"Flow 1"},{"id":"5c9a102d.818fb","type":"amqp-server","z":"","host":"rabbitmq","port":"5672","vhost":"","keepalive":"30","usetls":false,"verifyservercert":true,"usetopology":false,"topology":"{\n\t\"exchanges\": [\n\t\t{\"name\": \"exchange1\", \"type\": \"direct\", \"options\": {\"durable\": false}},\n\t\t{\"name\": \"exchange2\"}\n\t],\n\t\"queues\": [\n\t\t{\"name\": \"queue1\", \"options\": {\"messageTtl\": 60000}},\n\t\t{\"name\": \"queue2\"}\n\t],\n\t\"bindings\": [\n\t\t{\"source\": \"exchange1\", \"queue\": \"queue1\", \"pattern\": \"debug\", \"args\": {}},\n\t\t{\"source\": \"exchange1\", \"exchange\": \"exchange2\", \"pattern\": \"error\"},\n\t\t{\"source\": \"exchange2\", \"queue\": \"queue2\"}\n\t]\n}"},{"id":"cacfa0ef.3241","type":"stomp-server","z":"","server":"172.19.0.1","port":"15674","protocolversion":"1.0","vhost":"","reconnectretries":"0","reconnectdelay":"0.5","name":""},{"id":"d17a3ae7.37ed78","type":"websocket-listener","z":"","path":"/ws","wholemsg":"false"},{"id":"2b01ee77.a5bb72","type":"amqp-server","z":"","host":"docker_rabbitmq_1","port":"5672","vhost":"","keepalive":"30","usetls":false,"verifyservercert":true,"usetopology":false,"topology":"{\n\t\"exchanges\": [\n\t\t{\"name\": \"exchange1\", \"type\": \"direct\", \"options\": {\"durable\": false}},\n\t\t{\"name\": \"exchange2\"}\n\t],\n\t\"queues\": [\n\t\t{\"name\": \"queue1\", \"options\": {\"messageTtl\": 60000}},\n\t\t{\"name\": \"queue2\"}\n\t],\n\t\"bindings\": [\n\t\t{\"source\": \"exchange1\", \"queue\": \"queue1\", \"pattern\": \"debug\", \"args\": {}},\n\t\t{\"source\": \"exchange1\", \"exchange\": \"exchange2\", \"pattern\": \"error\"},\n\t\t{\"source\": \"exchange2\", \"queue\": \"queue2\"}\n\t]\n}"},{"id":"3879172.79ae1e8","type":"amqp-server","z":"","host":"rabbitmq","port":"5672","vhost":"","keepalive":"30","usetls":false,"verifyservercert":true,"usetopology":false,"topology":"{\n\t\"exchanges\": [\n\t\t{\"name\": \"exchange1\", \"type\": \"direct\", \"options\": {\"durable\": false}},\n\t\t{\"name\": \"exchange2\"}\n\t],\n\t\"queues\": [\n\t\t{\"name\": \"queue1\", \"options\": {\"messageTtl\": 60000}},\n\t\t{\"name\": \"queue2\"}\n\t],\n\t\"bindings\": [\n\t\t{\"source\": \"exchange1\", \"queue\": \"queue1\", \"pattern\": \"debug\", \"args\": {}},\n\t\t{\"source\": \"exchange1\", \"exchange\": \"exchange2\", \"pattern\": \"error\"},\n\t\t{\"source\": \"exchange2\", \"queue\": \"queue2\"}\n\t]\n}"},{"id":"416a22d4.1103bc","type":"amqp in","z":"da8fc4dd.311658","name":"","topic":"","iotype":"3","ioname":"device-status","server":"3879172.79ae1e8","x":70,"y":80,"wires":[["ef33fd8d.293cd","e314c075.c9881"]]},{"id":"ef33fd8d.293cd","type":"debug","z":"da8fc4dd.311658","name":"","active":false,"console":"false","complete":"true","x":230,"y":40,"wires":[]},{"id":"feb9ea95.b44cb8","type":"amqp out","z":"da8fc4dd.311658","name":"bathroom.temperature","routingkey":"view.bathroom.temperature.status","iotype":"3","ioname":"amq.topic","server":"3879172.79ae1e8","x":860,"y":160,"wires":[]},{"id":"4051e99f.6d01c8","type":"switch","z":"da8fc4dd.311658","name":"A1","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"device.device-0001.A1.status","vt":"str"},{"t":"eq","v":"device.device-0001.A2.status","vt":"str"},{"t":"eq","v":"device.device-0001.D1.status","vt":"str"}],"checkall":"true","outputs":3,"x":330,"y":180,"wires":[["4ec58767.b70698","6fb961fe.25b8c"],["79009607.70c488"],["d47bf98a.3a3718"]]},{"id":"553ebdd9.8d60f4","type":"amqp out","z":"da8fc4dd.311658","name":"bathroom.humidity","routingkey":"view.bathroom.humidity.status","iotype":"3","ioname":"amq.topic","server":"3879172.79ae1e8","x":850,"y":240,"wires":[]},{"id":"d47bf98a.3a3718","type":"amqp out","z":"da8fc4dd.311658","name":"On/Off","routingkey":"view.bathroom.power.status","iotype":"3","ioname":"amq.topic","server":"3879172.79ae1e8","x":810,"y":360,"wires":[]},{"id":"4ec58767.b70698","type":"function","z":"da8fc4dd.311658","name":"CH11 Decoder","func":"msg1=msg;\nmsg2=msg;\n\nmsg2.payload.value = parseInt(msg2.payload.value) + 30\nreturn [msg1,msg2];","outputs":"2","noerr":0,"x":520,"y":160,"wires":[["feb9ea95.b44cb8"],["d16b3185.ee646"]]},{"id":"79009607.70c488","type":"amqp out","z":"da8fc4dd.311658","name":"bathroom.fan","routingkey":"view.bathroom.fan.status","iotype":"3","ioname":"amq.topic","server":"3879172.79ae1e8","x":830,"y":300,"wires":[]},{"id":"e314c075.c9881","type":"json","z":"da8fc4dd.311658","name":"","pretty":false,"x":230,"y":100,"wires":[["4051e99f.6d01c8"]]},{"id":"6fb961fe.25b8c","type":"debug","z":"da8fc4dd.311658","name":"","active":true,"console":"false","complete":"true","x":510,"y":100,"wires":[]},{"id":"d16b3185.ee646","type":"function","z":"da8fc4dd.311658","name":"","func":"msg.payload.value =  msg.payload.value + 30;\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":200,"wires":[["553ebdd9.8d60f4"]]}]