node-red/data/flows_47864c28ee34.json
[{"id":"a4b3259d.401fe8","type":"tab","label":"Flow 1"},{"id":"3904f5af.b1c27a","type":"stomp-server","z":"","server":"172.19.0.1","port":"15674","protocolversion":"1.0","vhost":"","reconnectretries":"0","reconnectdelay":"0.5","name":""},{"id":"eb685f72.c1292","type":"websocket-listener","z":"","path":"/ws","wholemsg":"false"},{"id":"da4f429d.0456b","type":"amqp-server","z":"","host":"docker_rabbitmq_1","port":"5672","vhost":"","keepalive":"30","usetls":false,"verifyservercert":true,"usetopology":false,"topology":"{\n\t\"exchanges\": [\n\t\t{\"name\": \"exchange1\", \"type\": \"direct\", \"options\": {\"durable\": false}},\n\t\t{\"name\": \"exchange2\"}\n\t],\n\t\"queues\": [\n\t\t{\"name\": \"queue1\", \"options\": {\"messageTtl\": 60000}},\n\t\t{\"name\": \"queue2\"}\n\t],\n\t\"bindings\": [\n\t\t{\"source\": \"exchange1\", \"queue\": \"queue1\", \"pattern\": \"debug\", \"args\": {}},\n\t\t{\"source\": \"exchange1\", \"exchange\": \"exchange2\", \"pattern\": \"error\"},\n\t\t{\"source\": \"exchange2\", \"queue\": \"queue2\"}\n\t]\n}"},{"id":"2bf90aaa.ec6656","type":"inject","z":"a4b3259d.401fe8","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":210,"y":680,"wires":[["f4f09ec9.01eac","f4d31ec0.fcbff"]]},{"id":"f4d31ec0.fcbff","type":"amqp out","z":"a4b3259d.401fe8","name":"","routingkey":"device-0001","iotype":"3","ioname":"amq.topic","server":"da4f429d.0456b","x":440,"y":660,"wires":[]},{"id":"f4f09ec9.01eac","type":"debug","z":"a4b3259d.401fe8","name":"","active":false,"console":"false","complete":"false","x":450,"y":760,"wires":[]},{"id":"f618b0ba.c75bd","type":"amqp out","z":"a4b3259d.401fe8","name":"","routingkey":"aaa","iotype":"3","ioname":"input","server":"da4f429d.0456b","x":330,"y":880,"wires":[]},{"id":"68de01be.6f30c","type":"inject","z":"a4b3259d.401fe8","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":130,"y":880,"wires":[["f618b0ba.c75bd"]]},{"id":"959aebb5.e38958","type":"debug","z":"a4b3259d.401fe8","name":"","active":true,"console":"false","complete":"true","x":650,"y":880,"wires":[]},{"id":"1823f914.312b47","type":"amqp in","z":"a4b3259d.401fe8","name":"","topic":"aaa","iotype":"4","ioname":"input","server":"da4f429d.0456b","x":470,"y":880,"wires":[["959aebb5.e38958"]]}]