node-red/data/flows_eb20d7c0af02.json
[{"id":"3638580.b5e40a8","type":"tab","label":"Flow 1"},{"id":"dd5462ca.764c1","type":"tab","label":"Flow 1"},{"id":"e6ad2838.5293a8","type":"tab","label":"Flow 1"},{"id":"e821df4f.83c83","type":"stomp-server","z":"","server":"172.19.0.1","port":"15674","protocolversion":"1.0","vhost":"","reconnectretries":"0","reconnectdelay":"0.5","name":""},{"id":"ae7883d6.534de","type":"websocket-listener","z":"","path":"/ws","wholemsg":"false"},{"id":"4ae28bac.4a8cf4","type":"amqp-server","z":"","host":"docker_rabbitmq_1","port":"5672","vhost":"","keepalive":"30","usetls":false,"verifyservercert":true,"usetopology":false,"topology":"{\n\t\"exchanges\": [\n\t\t{\"name\": \"exchange1\", \"type\": \"direct\", \"options\": {\"durable\": false}},\n\t\t{\"name\": \"exchange2\"}\n\t],\n\t\"queues\": [\n\t\t{\"name\": \"queue1\", \"options\": {\"messageTtl\": 60000}},\n\t\t{\"name\": \"queue2\"}\n\t],\n\t\"bindings\": [\n\t\t{\"source\": \"exchange1\", \"queue\": \"queue1\", \"pattern\": \"debug\", \"args\": {}},\n\t\t{\"source\": \"exchange1\", \"exchange\": \"exchange2\", \"pattern\": \"error\"},\n\t\t{\"source\": \"exchange2\", \"queue\": \"queue2\"}\n\t]\n}"},{"id":"ebbae43f.c57c58","type":"amqp-server","z":"","host":"rabbitmq","port":"5672","vhost":"","keepalive":"30","usetls":false,"verifyservercert":true,"usetopology":false,"topology":"{\n\t\"exchanges\": [\n\t\t{\"name\": \"exchange1\", \"type\": \"direct\", \"options\": {\"durable\": false}},\n\t\t{\"name\": \"exchange2\"}\n\t],\n\t\"queues\": [\n\t\t{\"name\": \"queue1\", \"options\": {\"messageTtl\": 60000}},\n\t\t{\"name\": \"queue2\"}\n\t],\n\t\"bindings\": [\n\t\t{\"source\": \"exchange1\", \"queue\": \"queue1\", \"pattern\": \"debug\", \"args\": {}},\n\t\t{\"source\": \"exchange1\", \"exchange\": \"exchange2\", \"pattern\": \"error\"},\n\t\t{\"source\": \"exchange2\", \"queue\": \"queue2\"}\n\t]\n}"},{"id":"3ab2cd6a.c3edd2","type":"amqp in","z":"3638580.b5e40a8","name":"","topic":"","iotype":"3","ioname":"device-status","server":"ebbae43f.c57c58","x":70,"y":80,"wires":[["6182c824.ebdaf8","1102c6dd.d01349"]]},{"id":"6182c824.ebdaf8","type":"debug","z":"3638580.b5e40a8","name":"","active":false,"console":"false","complete":"true","x":230,"y":40,"wires":[]},{"id":"1c87619e.8a5c3e","type":"amqp out","z":"3638580.b5e40a8","name":"bathroom.temperature","routingkey":"view.bathroom.temperature.get","iotype":"3","ioname":"amq.topic","server":"ebbae43f.c57c58","x":860,"y":160,"wires":[]},{"id":"bde1f199.6517a","type":"switch","z":"3638580.b5e40a8","name":"A1","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"device.device-0001.A1.get","vt":"str"},{"t":"eq","v":"device.device-0001.A2.get","vt":"str"},{"t":"eq","v":"device.device-0001.D1.get","vt":"str"}],"checkall":"true","outputs":3,"x":330,"y":180,"wires":[["1312c4d3.17147b","488774db.28cc2c"],["ada0a77f.73eaf8"],["27970af7.966076"]]},{"id":"6cc5c820.0c3f58","type":"amqp out","z":"3638580.b5e40a8","name":"bathroom.humidity","routingkey":"view.bathroom.humidity.get","iotype":"3","ioname":"amq.topic","server":"ebbae43f.c57c58","x":850,"y":240,"wires":[]},{"id":"27970af7.966076","type":"amqp out","z":"3638580.b5e40a8","name":"On/Off","routingkey":"view.bathroom.power.get","iotype":"3","ioname":"amq.topic","server":"ebbae43f.c57c58","x":810,"y":360,"wires":[]},{"id":"1312c4d3.17147b","type":"function","z":"3638580.b5e40a8","name":"CH11 Decoder","func":"msg1=msg;\nmsg2=msg;\n\nmsg2.payload.value = parseInt(msg2.payload.value) + 30\nreturn [msg1,msg2];","outputs":"2","noerr":0,"x":520,"y":160,"wires":[["1c87619e.8a5c3e"],["57470777.0b69a8"]]},{"id":"ada0a77f.73eaf8","type":"amqp out","z":"3638580.b5e40a8","name":"bathroom.fan","routingkey":"view.bathroom.fan.get","iotype":"3","ioname":"amq.topic","server":"ebbae43f.c57c58","x":830,"y":300,"wires":[]},{"id":"1102c6dd.d01349","type":"json","z":"3638580.b5e40a8","name":"","pretty":false,"x":230,"y":100,"wires":[["bde1f199.6517a"]]},{"id":"488774db.28cc2c","type":"debug","z":"3638580.b5e40a8","name":"","active":false,"console":"false","complete":"true","x":510,"y":100,"wires":[]},{"id":"57470777.0b69a8","type":"function","z":"3638580.b5e40a8","name":"","func":"msg.payload.value =  msg.payload.value + 30;\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":200,"wires":[["6cc5c820.0c3f58"]]}]