node-red/data/flows_5946205e8c2d.json
[{"id":"a51660e1.13495","type":"tab","label":"Flow 1"},{"id":"5c9a102d.818fb","type":"amqp-server","z":"","host":"rabbitmq","port":"5672","vhost":"","keepalive":"30","usetls":false,"verifyservercert":true,"usetopology":false,"topology":"{\n\t\"exchanges\": [\n\t\t{\"name\": \"exchange1\", \"type\": \"direct\", \"options\": {\"durable\": false}},\n\t\t{\"name\": \"exchange2\"}\n\t],\n\t\"queues\": [\n\t\t{\"name\": \"queue1\", \"options\": {\"messageTtl\": 60000}},\n\t\t{\"name\": \"queue2\"}\n\t],\n\t\"bindings\": [\n\t\t{\"source\": \"exchange1\", \"queue\": \"queue1\", \"pattern\": \"debug\", \"args\": {}},\n\t\t{\"source\": \"exchange1\", \"exchange\": \"exchange2\", \"pattern\": \"error\"},\n\t\t{\"source\": \"exchange2\", \"queue\": \"queue2\"}\n\t]\n}"},{"id":"98dcbfb3.c402d","type":"amqp in","z":"a51660e1.13495","name":"","topic":"","iotype":"3","ioname":"device-status","server":"5c9a102d.818fb","x":97.50003051757812,"y":95.00000286102295,"wires":[["fd3d8cec.be542","6d91748e.17ca6c"]]},{"id":"fd3d8cec.be542","type":"debug","z":"a51660e1.13495","name":"","active":false,"console":"false","complete":"true","x":299.00013160705566,"y":97.00000953674316,"wires":[]},{"id":"eb6899a4.5562f8","type":"amqp out","z":"a51660e1.13495","name":"bathroom.temperature","routingkey":"bathroom.temperature","iotype":"3","ioname":"amq.topic","server":"5c9a102d.818fb","x":718.5001258850098,"y":173.600004196167,"wires":[]},{"id":"d574f849.4bf508","type":"debug","z":"a51660e1.13495","name":"","active":false,"console":"false","complete":"true","x":480.0001220703125,"y":157.00002765655518,"wires":[]},{"id":"6d91748e.17ca6c","type":"switch","z":"a51660e1.13495","name":"A1","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"device.device-0001.A1","vt":"str"},{"t":"eq","v":"device.device-0001.A2","vt":"str"},{"t":"eq","v":"device.device-0001.D1","vt":"str"}],"checkall":"true","outputs":3,"x":305.5000419616699,"y":219.80003452301025,"wires":[["d574f849.4bf508","737dc084.8bdd9"],["5efa823c.8191bc"],["c62d2c8c.cd24c"]]},{"id":"e5adb7cc.8e03b8","type":"amqp out","z":"a51660e1.13495","name":"bathroom.humidity","routingkey":"bathroom.humidity","iotype":"3","ioname":"amq.topic","server":"5c9a102d.818fb","x":710.0001258850098,"y":230.00003051757812,"wires":[]},{"id":"c62d2c8c.cd24c","type":"amqp out","z":"a51660e1.13495","name":"On/Off","routingkey":"bathroom.power","iotype":"3","ioname":"amq.topic","server":"5c9a102d.818fb","x":677.0000762939453,"y":351.00000953674316,"wires":[]},{"id":"737dc084.8bdd9","type":"function","z":"a51660e1.13495","name":"CH11 Decoder","func":"msg1=msg;\nmsg2=msg;\nmsg2.payload.value = msg2.payload.value+30;\n\nreturn [msg1,msg2];","outputs":"2","noerr":0,"x":508.00002670288086,"y":206.00000476837158,"wires":[["eb6899a4.5562f8"],["e5adb7cc.8e03b8"]]},{"id":"5efa823c.8191bc","type":"amqp out","z":"a51660e1.13495","name":"bathroom.fan","routingkey":"bathroom.fan","iotype":"3","ioname":"amq.topic","server":"5c9a102d.818fb","x":693.0000305175781,"y":295.00000858306885,"wires":[]}]