node-red/data/flows_5946205e8c2d.json
[{"id":"a51660e1.13495","type":"tab","label":"Flow 1"},{"id":"5c9a102d.818fb","type":"amqp-server","z":"","host":"rabbitmq","port":"5672","vhost":"","keepalive":"30","usetls":false,"verifyservercert":true,"usetopology":false,"topology":"{\n\t\"exchanges\": [\n\t\t{\"name\": \"exchange1\", \"type\": \"direct\", \"options\": {\"durable\": false}},\n\t\t{\"name\": \"exchange2\"}\n\t],\n\t\"queues\": [\n\t\t{\"name\": \"queue1\", \"options\": {\"messageTtl\": 60000}},\n\t\t{\"name\": \"queue2\"}\n\t],\n\t\"bindings\": [\n\t\t{\"source\": \"exchange1\", \"queue\": \"queue1\", \"pattern\": \"debug\", \"args\": {}},\n\t\t{\"source\": \"exchange1\", \"exchange\": \"exchange2\", \"pattern\": \"error\"},\n\t\t{\"source\": \"exchange2\", \"queue\": \"queue2\"}\n\t]\n}"},{"id":"98dcbfb3.c402d","type":"amqp in","z":"a51660e1.13495","name":"","topic":"","iotype":"3","ioname":"device-status","server":"5c9a102d.818fb","x":117.5000228881836,"y":95,"wires":[["fd3d8cec.be542","6f092bbf.ea4d34"]]},{"id":"fd3d8cec.be542","type":"debug","z":"a51660e1.13495","name":"","active":false,"console":"false","complete":"true","x":329.00010681152344,"y":95.00000953674316,"wires":[]},{"id":"eb6899a4.5562f8","type":"amqp out","z":"a51660e1.13495","name":"Temperature","routingkey":"device.device-0001.A1","iotype":"3","ioname":"amq.topic","server":"5c9a102d.818fb","x":716.5000476837158,"y":200.60000801086426,"wires":[]},{"id":"6f092bbf.ea4d34","type":"function","z":"a51660e1.13495","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":327.50006103515625,"y":152.8000316619873,"wires":[["6d91748e.17ca6c"]]},{"id":"d574f849.4bf508","type":"debug","z":"a51660e1.13495","name":"","active":false,"console":"false","complete":"true","x":699.0000953674316,"y":156.00003242492676,"wires":[]},{"id":"6d91748e.17ca6c","type":"switch","z":"a51660e1.13495","name":"A1","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"device.device-0001.A1","vt":"str"},{"t":"eq","v":"device.device-0001.A2","vt":"str"},{"t":"eq","v":"device.device-0001.D1","vt":"str"}],"checkall":"true","outputs":3,"x":476.50003814697266,"y":213.80003547668457,"wires":[["d574f849.4bf508","eb6899a4.5562f8"],["e5adb7cc.8e03b8"],["c62d2c8c.cd24c"]]},{"id":"e5adb7cc.8e03b8","type":"amqp out","z":"a51660e1.13495","name":"Humidity","routingkey":"device.device-0001.A2","iotype":"3","ioname":"amq.topic","server":"5c9a102d.818fb","x":706.0000495910645,"y":251.00003242492676,"wires":[]},{"id":"c62d2c8c.cd24c","type":"amqp out","z":"a51660e1.13495","name":"On/Off","routingkey":"device.device-0001.D1","iotype":"3","ioname":"amq.topic","server":"5c9a102d.818fb","x":698.0000534057617,"y":302.00000953674316,"wires":[]}]