node-red/data/flows_cb2530059a27.json
[{"id":"87dc8151.0cbb9","type":"tab","label":"Flow 1"},{"id":"daea5a9d.e5bf98","type":"stomp-server","z":"","server":"docker_rabbitmq_1","port":"61613","protocolversion":"1.0","vhost":"","reconnectretries":"0","reconnectdelay":"0.5","name":""},{"id":"70dd8519.d12a1c","type":"amqp-server","z":"","host":"docker_rabbitmq_1","port":"5672","vhost":"","keepalive":"30","usetls":false,"verifyservercert":true,"usetopology":false,"topology":"{\n\t\"exchanges\": [\n\t\t{\"name\": \"exchange1\", \"type\": \"direct\", \"options\": {\"durable\": false}},\n\t\t{\"name\": \"exchange2\"}\n\t],\n\t\"queues\": [\n\t\t{\"name\": \"queue1\", \"options\": {\"messageTtl\": 60000}},\n\t\t{\"name\": \"queue2\"}\n\t],\n\t\"bindings\": [\n\t\t{\"source\": \"exchange1\", \"queue\": \"queue1\", \"pattern\": \"debug\", \"args\": {}},\n\t\t{\"source\": \"exchange1\", \"exchange\": \"exchange2\", \"pattern\": \"error\"},\n\t\t{\"source\": \"exchange2\", \"queue\": \"queue2\"}\n\t]\n}"},{"id":"b7655f9a.14931","type":"stomp-server","z":"","server":"docker_rabbitmq_1","port":"61613","protocolversion":"1.0","vhost":"","reconnectretries":"0","reconnectdelay":"0.5","name":""},{"id":"79a607d5.190e28","type":"debug","z":"87dc8151.0cbb9","name":"","active":true,"console":"false","complete":"true","x":510,"y":120,"wires":[]},{"id":"36531ea7.95e462","type":"inject","z":"87dc8151.0cbb9","name":"","topic":"ppp","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":344.5,"y":120,"wires":[["79a607d5.190e28","4c85c2f1.9de83c"]]},{"id":"4c85c2f1.9de83c","type":"amqp out","z":"87dc8151.0cbb9","name":"","routingkey":"","iotype":"3","ioname":"msg.topic","server":"70dd8519.d12a1c","x":520,"y":180,"wires":[]}]